
<!-- Import Header -->
<%- include('components/header.ejs') %>

<!-- Body content -->
<div class="container">
  <h1 class="mb-4">Class G</h1>

  <div class="container mt-5">
    <!-- Fetch Data with license number -->
    <div class="row mb-5" style="display: none">
      <div class="col-md-8">
        <label for="inputLicenseNumber" class="form-label">License number</label>
        <input
          type="text"
          class="form-control"
          id="inputLicenseNumber"
          value="<%= user.licenseNumber %>"
          placeholder="Enter license number" />
      </div>
      <div class="col-md-4 fetch-cta-block">
        <button type="button" id="fetchLicenseData" class="btn btn-primary" id="fetchDataButton">
          Fetch Data
        </button>
      </div>
    </div>

    <!-- User Profile Section -->
    <fieldset id="gUserInfo" class="border p-3 mb-3">
      <legend class="w-auto">User Profile</legend>

      <div class="mb-3 row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="firstName" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="lastName" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="licenseNumber" class="col-sm-2 col-form-label">License Number</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="licenseNumber" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
          <input type="number" readonly class="form-control-plaintext" id="age" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="dob" />
        </div>
      </div>
    </fieldset>

    <!-- Car Information Section -->
    <fieldset id="gCarInfo" class="border p-3 mb-3">
      <legend class="w-auto">Car Information</legend>

      <div class="mb-3 row">
        <label for="carMake" class="col-sm-2 col-form-label">Car Make</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="make" />
          <p id="make_error" class="error-message"></p>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="carModel" class="col-sm-2 col-form-label">Car Model</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="model" />
          <p id="model_error" class="error-message"></p>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="carYear" class="col-sm-2 col-form-label">Car Year</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="year" />
          <p id="year_error" class="error-message"></p>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="plateNumber" class="col-sm-2 col-form-label">Plate Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="plateNumber" />
          <p id="plateNumber_error" class="error-message"></p>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-10">
          <button type="button" id="g-form-vehicle" class="btn btn-primary mt-2 mb-2">
            Update Vehicle Details
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <% if(user.appointment){ %>
  <div class="appointment-booked">
    <h5>Your appointment is booked for</h5>
    <h6><%= user.appointment.userAppointmentDate %></h6>
    <h6><%= user.appointment.time %></h6>
  </div>
  <% } else { %>
    <div class="container book-date">
      <h4 class="mb-4 text-center">Book Available Appointment Slot</h4>
      <div class="row create-slot">
        <div class="col-8">
          <label>Select Date:</label>
          <input type="text" id="datepicker" />
        </div>
        <div class="col-4">
          <button id="search-appointment-date" class="btn btn-secondary">Search</button>
        </div>
      </div>
  
      <div class="available-slots">
        <h4 class="mb-4 mt-4 text-center">Slots for <span id="slot-date"></span></h4>
  
        <div class="slots">
          <div class="card slot-available slot-card display-none" id="09:00">09:00</div>
          <div class="card slot-available slot-card display-none" id="09:30">09:30</div>
          <div class="card slot-available slot-card display-none" id="10:00">10:00</div>
          <div class="card slot-available slot-card display-none" id="10:30">10:30</div>
          <div class="card slot-available slot-card display-none" id="11:00">11:00</div>
          <div class="card slot-available slot-card display-none" id="11:30">11:30</div>
          <div class="card slot-available slot-card display-none" id="12:00">12:00</div>
          <div class="card slot-available slot-card display-none" id="12:30">12:30</div>
          <div class="card slot-available slot-card display-none" id="13:00">13:00</div>
          <div class="card slot-available slot-card display-none" id="13:30">13:30</div>
          <div class="card slot-available slot-card display-none" id="14:00">14:00</div>
        </div>
  
        <h2 class="no-slots display-none">No Slots available for the selected day</h2>
  
        <div class="date-time-selected">
          <hr />
          <h6 class="mb-3">Please confirm your details to book this slot for G Test</h6>
          <p>Date Selected: <span id="selected-date"></span></p>
          <p>Time Selected: <span id="selected-time"></span></p>
          <div class="text-center">
            <button id="book-slot" class="btn btn-primary">Book Slot</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>

<script src="./js/class-g.js"></script>

<!-- Import Footer -->
<%- include('components/footer.ejs') %>
